<div *ngIf="!selected" (click)="onSelected()" class="member-card"  fxLayoutAlign="center center" fxLayout="row">
    <div  >
        {{name}}
    </div>
    <div *ngIf="deletable">
        <button (click)="deleteCalled()" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>
<div *ngIf="selected" (click)="onSelected()" class="member-card-selected"  fxLayoutAlign="center center" fxLayout="row">
    <div >
        {{name}} 
    </div>
    <div *ngIf="deletable">
        <button (click)="deleteCalled()" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>