<div fxLayoutAlign="center center" fxLayout="row">
    
</div>

<div class="person-container" fxLayoutAlign="center center" fxLayoutGap="1px grid">
    <div *ngIf="allowAdd">
        
        <app-add-member-card (onAddPerson)="addPerson($event)">
        </app-add-member-card>
    </div>
    <!--<app-member-card (onDataChange)="this.changeStatus('Ariel Nowik', $event)" [deletable]="true" [dataUpdater]="this.getUpdater('Ariel Nowik')" name="Ariel Nowik">
    </app-member-card>
    <app-member-card (onDataChange)="this.changeStatus('Dante Kieniguiel', $event)" [deletable]="true" [dataUpdater]="this.getUpdater('Dante Kieniguiel')" name="Dante Kieniguiel">
    </app-member-card>-->
    <!--<div *ngFor="let person of (dataProvider | async)">
        
    </div>-->
    <app-member-card *ngFor="let person of (dataProvider | async)" (onDelete)="this.deletePerson(person.name)" (onDataChange)="this.changeStatus(person.name, $event)" [deletable]="allowAdd" [dataUpdater]="this.getUpdater(person.name)" name={{person.name}}>
    </app-member-card>
</div>
